<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container">
<h1 th:text="${title}">Default Title</h1>

<form method="post" action="day" class="form req-off-form">
    <span th:text="${dateError}" class="error"></span>
    <span th:text="${error}" class="error"></span>
    <div class="form-group">
        <label th:for="startDate">Start Date:</label>
        <input class="form-control" name="startDate" type="date" th:value="${startDate}" />
    </div>
    <div class="form-group">
        <label th:for="endDate">End Date:</label>
        <input class="form-control" name="endDate" type="date" th:value="${endDate}" />
    </div>

    <input type="hidden" name="employeeId" th:value="${employeeId}" />

    <input type="submit" value="Submit Request" />
</form>
</div>
</body>
</html>