
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>
<div class="container">
<h1 th:text="${title}">Default Title</h1>

<form method="post" action="time" class="form req-off-form">
    <span th:text="${error}" class="error"></span>
    <div class="form-group">
        <label th:for="date">Date:</label>
        <input class="form-control" type="date" name="date" th:value="${date}" />
    </div>
    <div class="form-group">
        <label th:for="startTime">Start Time:</label>
        <input class="form-control" type="time" name="startTime" id="startTime" th:value="${startTime}" />
    </div>
    <div class="form-group">
        <label th:for="endTime">End Time:</label>
        <input class="form-control" type="time" name="endTime" id="endTime" th:value="${endTime}" />
    </div>

    <input type="hidden" name="employeeId" th:value="${employeeId}" />

    <input type="submit" value="Submit Request" />
</form>
</div>
</body>
</html>