<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Which Wich Contact</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/employee.css}" />

</head>
<body>

<div class="container">

    <h1 th:text="${title}"></h1>

    <p th:unless="${stores} and ${stores.size()}">No Stores</p>

    <ul th:each="aStore : ${stores}">
        <li th:text="${aStore.name} + ':' + ${aStore.code}"></li>
    </ul>

    <form method="post" action="add-store" th:object="${store}">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="*{name}" />
            <span th:errors="*{name}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="code">Code</label>
            <input class="form-control" th:field="*{code}" />
            <span th:errors="*{code}" class="error"></span>
        </div>
        <input type="submit" value="Add Store" />
    </form>
</div>

</body>
</html>