<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<div class="container" style="padding: 1.2em">

    <form method="post" style="max-width:400px;" th:object="${employee}">
        <span th:text="${storeIdError}" class="error"></span>
        <div class="form-group">
            <label th:for="firstName">First Name</label>
            <input class="form-control" th:field="*{firstName}" />
            <span th:errors="*{firstName}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="lastName">Last Name</label>
            <input class="form-control" th:field="*{lastName}" />
            <span th:errors="*{lastName}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="email">Email</label>
            <input class="form-control" th:field="*{email}" />
            <span th:errors="*{email}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="password">Password</label>
            <input type="password" class="form-control" th:field="*{password}" />
            <span th:errors="*{password}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="verifyPassword">Verify Password</label>
            <input type="password" class="form-control" name="verifyPassword" th:value="${verifyPassword}" />
            <span th:text="${verifyError}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="jobTitleId">Job Title</label>
            <select name="jobTitleId">
                <option th:each="jobTitle : ${jobTitles}"
                        th:text="${jobTitle.name}"
                        th:value="${jobTitle.id}"></option>
            </select>
        </div>
        <div class="form-group">
            <label th:for="phoneNumber">Phone Number (just numbers, no dashes or spaces)</label>
            <input class="form-control" th:field="*{phoneNumber}" />
            <span th:errors="*{phoneNumber}" class="error"></span>
        </div>
        <div class="form-group">
            <label th:for="storeCode">Store Code</label>
            <input type="password" class="form-control" name="storeCode" />
            <span th:text="${storeCodeError}" class="error"></span>
        </div>

        <input type="submit" value="Add Employee" />

        <br />
    </form>

</div>
<div>
    <br />
</div>

</body>
</html>