<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:400px;" th:object="${employee}">
    <div class="form-group">
        <label th:for="firstName">First Name</label>
        <input class="form-control" th:field="*{firstName}" />
        <span th:errors="*{firstName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="lastName">Last Name</label>
        <input class="form-control" th:field="*{lastName}" />
        <span th:errors="*{lastName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="email">Email</label>
        <input class="form-control" th:field="*{email}" />
        <span th:errors="*{email}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input type="password" class="form-control" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="verifyPassword">Verify Password</label>
        <input type="password" class="form-control" id="verifyPassword" />
        <span th:text="${verifyError}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="jobTitle">Job Title</label>
        <input class="form-control" th:field="*{jobTitle}" />
        <span th:errors="*{jobTitle}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="phoneNumber">Phone Number (just numbers, no dashes or spaces)</label>
        <input class="form-control" th:field="*{phoneNumber}" />
        <span th:errors="*{phoneNumber}" class="error"></span>
    </div>

    <input type="submit" value="Add Employee" />
</form>

</body>
</html>