
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<form method="post" action="request-off-time" class="form req-off-form">
    <div class="form-group">
        <label th:for="date">Date:</label>
        <input class="form-control" type="date" name="date" th:value="${date}" />
    </div>
    <div class="form-group">
        <label th:for="startTime">Start Time:</label>
        <input class="form-control" type="time" name="startTime" id="startTime" th:value="${startTime}" />
    </div>
    <div class="form-group">
        <label th:for="endTime">End Time:</label>
        <input class="form-control" type="time" name="endTime" id="endTime" th:value="${endTime}" />
    </div>

    <input type="hidden" name="employeeId" th:value="${employeeId}" />

    <input type="submit" value="Submit Request" />
</form>

</body>
</html>