<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<form method="post" action="request-off-day" class="form req-off-form" th:object="${requestOff}">
    <div class="form-group">
        <label th:for="date">Start Date:</label>
        <input class="form-control" type="date" th:field="*{date}" />
    </div>
    <div class="form-group">
        <label th:for="endDate">End Date:</label>
        <input class="form-control" name="endDate" type="date" th:value="${endDate}" />
    </div>

    <input type="hidden" name="employeeId" th:value="${employeeId}" />

    <input type="submit" value="Submit Request" />
</form>

</body>
</html>