.body-content {
    margin-top: 72px;
}

.error {
    color: red;
}

h1.small-table-page {
    width: 50%;

}

.container div.title-head {
    text-align: center;
}

h1 {
    margin: 1em auto;
    align: center;
}

.user {
    width: 100%;
    text-align: right;
    padding-bottom: 3em;
}

td, th {
    padding: 10px;
}

table.employee-listing tr:nth-child(even) {
    background-color: #e4e4e4;
}

table.employee-listing {
    margin: auto;
    width: 50%;
}

table.employee-listing td:last-child {
    width: 40%;
}

.req-off-form {
    display: inline-block;
    width: 30%;

}