<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Which Wich Contact</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/employee.css}" />

</head>
<body>

<nav th:fragment="navigation">
    <a href="/home/">Home</a>
    <a href="/employee/request-off">Request Off</a>
    <a th:href="@{/login/logout}">Logout</a>
</nav>

</body>
</html>